openapi: 3.1.0
info:
  title: Amazon DataZone Assets API
  description: The Amazon DataZone API provides programmatic access to create and manage data domains, data assets, data catalogs, projects, subscriptions, and governance policies for enterprise-wide data management and sharing.
  version: 2018-05-10
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
servers:
- url: https://datazone.amazonaws.com
  description: Amazon DataZone API
security:
- awsSignatureV4: []
tags:
- name: Assets
  description: Operations for managing data assets in the catalog
paths:
  /v2/domains/{domainIdentifier}/assets:
    post:
      operationId: createAsset
      summary: Create Asset
      description: Creates a data asset in the DataZone catalog.
      tags:
      - Assets
      parameters:
      - name: domainIdentifier
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
            examples:
              default:
                x-microcks-default: true
                value:
                  name: SalesOrdersTable
                  description: Daily sales orders from production database
                  domainIdentifier: dzd_1234567890abcde
                  owningProjectIdentifier: prj_abc123
                  typeIdentifier: amazon.datazone.RelationalTable
      responses:
        '201':
          description: Asset created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    id: asset_001abc
                    name: SalesOrdersTable
                    description: Daily sales orders from production database
                    domainId: dzd_1234567890abcde
                    owningProjectId: prj_abc123
                    createdAt: '2024-04-15T12:00:00Z'
  /v2/domains/{domainIdentifier}/assets/{identifier}:
    get:
      operationId: getAsset
      summary: Get Asset
      description: Gets the details of a data asset in the DataZone catalog.
      tags:
      - Assets
      parameters:
      - name: domainIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Asset details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
              examples:
                default:
                  x-microcks-default: true
                  value:
                    id: asset_001abc
                    name: SalesOrdersTable
                    description: Daily sales orders from production database
                    domainId: dzd_1234567890abcde
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteAsset
      summary: Delete Asset
      description: Deletes a data asset from the DataZone catalog.
      tags:
      - Assets
      parameters:
      - name: domainIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Asset deleted successfully
components:
  schemas:
    CreateAssetRequest:
      description: Request body for creating a data asset.
      type: object
      required:
      - name
      - domainIdentifier
      - owningProjectIdentifier
      - typeIdentifier
      properties:
        name:
          type: string
        description:
          type: string
        domainIdentifier:
          type: string
        owningProjectIdentifier:
          type: string
        typeIdentifier:
          type: string
    Error:
      description: Standard error response from the DataZone API.
      type: object
      properties:
        message:
          type: string
          description: A human-readable error message
        code:
          type: string
          description: An error code identifying the type of error
    Asset:
      description: A data asset cataloged in the DataZone data catalog.
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the asset
        name:
          type: string
          description: The name of the data asset
        description:
          type: string
          description: The description of the data asset
        domainId:
          type: string
        owningProjectId:
          type: string
        typeIdentifier:
          type: string
          description: The type of the asset
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    awsSignatureV4:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
